<div class="container mt-5">
    <h2>Crear Contrato</h2>
    <form (ngSubmit)="saveContrato()">
      <div class="mb-3">
        <label for="identificador" class="form-label">Identificador</label>
        <input type="text" id="identificador" class="form-control" [(ngModel)]="contrato.identificador" name="identificador" required />
      </div>
      <div class="mb-3">
        <label for="valor" class="form-label">Valor</label>
        <input type="number" id="valor" class="form-control" [(ngModel)]="contrato.valor" name="valor" required />
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  