<div class="container mt-5">
    <h2>Lista de Contratos</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Identificador</th>
          <th>Valor</th>
          <th>Contratante</th>
          <th>Contratantista</th>
          <th>Fecha Inicial</th>
          <th>Fecha Final</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contrato of contratos">
          <td>{{ contrato.id }}</td>
          <td>{{ contrato.identificador }}</td>
          <td>{{ contrato.valor }}</td>
          <td>{{ contrato.nombreContratante }}</td>
          <td>{{ contrato.nombreContratantista }}</td>
          <td>{{ contrato.fechaInicial }}</td>
          <td>{{ contrato.fechaFinal }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteContrato(contrato.id!)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  